
<div id="search-form" class="pb-3">
    
    <div class="form-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form id="search_form" method="post" action="{% url 'global-search' %}">
                {% csrf_token %}
                <div class="form-group col-md-10" id="searchFormGroup">
                    {% if search_value %}
                        <input type="text" class="form-control" id="search_value" name="search_value" value="{{search_value}}" placeholder="Enter...">
						<input type="text" class="form-control" id="current_tab" name="current_tab" value="{{ current_tab }}" hidden>
                    {% else %}
                        <input type="text" class="form-control" id="search_value" name="search_value" placeholder="Enter...">
						<input type="text" class="form-control" id="current_tab" name="current_tab" value="{{ current_tab }}" hidden>
                    {% endif %}
    
                </div>
                <div class="col-md-2">
                    <button type="submit" id="btn-search" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>

        <div class="col-md-2">
            <form id="search_clear_form" method="get" action="{% url 'on-file-list' %}">
                {% csrf_token %}
                {% if search_value %}
                    <button type="submit" id="btn-search" class="btn btn-danger">Clear</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
