{% extends "account/base.html" %} {% block head_title %}Sign Out{% endblock %} {% block content %}
<div class="container">
    <div class="card mt-5 w-50 mx-auto">
        <div class="card-header">
            <h1>Sign Out</h1>
        </div>
        <div class="card-body">
            <div class="card-title">
                <p>Are you sure you want to sign out?</p>
            </div>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %} {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                <button class="btn btn-danger btn-block" type="submit">Sign Out</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}